*{
    margin: 0;
    padding: 0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.background-img{
    /* background-image: url('./images/image5.jpg'); */
    background-color: black;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
/* .trans-background{
    background-color: rgba(18, 17, 17,0.8);
} */
nav ul{
    display: flex;
    justify-content: center;
    /* height: 100px; */
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(rgb(73, 73, 206),purple);
    text-align: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    transition: transform .5s;
}
nav ul li a:hover{
    color: rgb(255, 250, 251);
    /* border-bottom: 2px solid rgb(246, 133, 152); */
    transform: scale(1.2);
}
header{
    display: flex;
    align-items: center;
    height: 90px;
    margin-top: 30px;
    justify-content: center;
    padding: 20px;
}
header p {
    font-size: 30px;
}
header img{
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.container{
    background-color: rgb(0, 0, 0);
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}
.container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:blueviolet;
}
.container .box p{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    max-width: 950px;
}
footer{
    display: flex;
    flex-direction: column;
    height: 210px;
    background-color: rgb(0, 0, 0);
    margin-top: 70px;
    align-items: center;
}
footer ul{
    display: flex;
    /* background-color: aqua; */
    /* justify-content: center; */

}
footer ul a{
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    transition: transform .2s;
}
footer ul img{
    height: 30px;
}
footer ul li{
    margin: 10px 10px;
    /* background-color: blue; */
}
li a:hover{
    color: rgb(96, 96, 37);
    transform: scale(1.1);
}